.texto-cor-primaria {
    color: #FFFFFF;
}

.texto-cor-segundaria {
    color: #d4d2d2;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .folder-nav, .section-title {
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 0.5px;
}
