.boasVindas {
    margin-top: 70px;
}

.boasVindas-texto {
    text-align: center;
}

/* TEXTO 'SOBRE MIM' */
.conteudoPrincipal {
    margin: 3.5rem 20rem;
}

.centralizaSobre {
    text-align: center;
}

/* FERRAMENTAS DE DOMINIO */
.texto__ferramenta {
    margin-top: 15px;
    margin-bottom: 0px;
}

.lista__ferrameta {
    padding-left: 15px;
}

.ferramentasPrincipal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    /*
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    */
}

.ferramentas__div {
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 5px;
}


/* -- AQUI COMEÇA O MAIN -- */
.mainPrincipal {
    margin: 20px 130px;
}

.projetosContainer {
    margin: 40px 150px;
    display: flex;
}

/* CONTEUDO DA COLUNA 1 */
.ProjetoColuna1 {
    width: 4000px;
}

.imgProjeto {
    max-width: 100%;
    max-height: 100%;
}

/* CONTEUDO DA COLUNA 2 */
.ProjetoColuna2 {
    margin-left: 30px;
}

.descricaoProjeto {
    padding-right: 20px;
    line-height: 23px;
}

/* CONTATOS */
.listaPadrao {
    list-style: none;
    line-height: 3rem;
}

.nomeContatos {
    text-decoration: none;
}